/*************************************************
    GENERAL STYLES
 *************************************************/

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}



.container,
.card-big,
.card-medium,
.card-small,
.title-benefits,
.paragraph-about {
    max-width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.btn {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

img {
    width: 100%;
    display: block;
}

.text-center {
    text-align: center;
}


/*Header*/

header {
    height: 80px;
}

.header-space {
    height: 100%;
    justify-content: space-between;
}

.iconaHeader{
    display: flex;
    align-items: center;

}

.logo-header{
    display: flex;
    align-items: center;
    width: 70px;
}
header nav{
    display: none;
}
/*main*/

.border-radius {
    border-radius: 30px;
}

/*demo section*/

.tex-demo {
    text-align: justify;

}

.fas-demo {
    font-size: 50px;
}

/* Strategic Planning Section*/

.img-planning1 {
    width: 100%;
}

.fa-arrow-down {
    border-radius: 20px;
    height: 40px;
    width: 40px;

}


/* Testimonials section*/

.border-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}


/*About Us Section*/
.position-img {
    position: relative;
    display: inline-block;



}

.quote-img  {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
}




.linkedin {
    width: 70%;
    height: auto;
    padding: 10px 20px;
}

/*get Started Section*/
.saffron {
    font-size: 2rem;
}



/************************************************
    UTILITIES
 ************************************************/

.flex {
    display: flex;
}


/*padding*/

.p16 {
    padding: 1rem;
}

.p-2rem {
    padding: 0 2rem;
}

.p-top2 {
    padding-top: 2rem;
}

.p-top1 {
    padding-top: 1rem;
}

.p-b2 {
    padding-bottom: 2rem;
}

/*margin*/
.mb1-5 {
    margin-bottom: 1.5rem;
}

.mb2-5 {
    margin-bottom: 2.5rem;
}

.m-block2 {
    margin-block: 2rem;
}

.m-top2 {
    margin-top: 2rem
}

.m-top4 {
    margin-top: 4rem
}

/*color*/
.b-c-blueElettrico {
    background-color: #0084FD;
}

.b-c-blue {
    background-color: #B5DDFF;
}

.b-c-violet {
    background-color: #9792E4;
}

.b-c-white {
    background-color: white;
}

.b-c-black {
    background-color: black;
}

.white {
    color: white;
}

.dodger-blue {
    color: #0084FD;
}

.c-lavender {
    color: #A19CE6;
}

.lavender-blue {
    color: #B6B4EC;
}

.periwinkle {
    color: #9792E4;
}

.saffron {
    color: #FDC15F;
}

/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/

/* TABLET */
@media (min-width: 768px) and (max-width:1024px) {

    .container,
    .card-big,
    .card-medium,
    .card-small,
    .title-benefits,
    .paragraph-about {
        max-width: 90%;
        margin: 0 auto;
    }

    /* Demo section*/
    .containerDemo {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;

    }

    .demo {
        width: calc(64% - 16px);
        margin: 16px ;
    }

    .code {
        width:  calc(31% - 16px);
        margin: 16px;
    }

    .web {
        width: 30%;

    }

    .development {
        width: 30%;
    }

    .branding {
        width: 30%;
    }


    /* Benefits section*/

    .containerBenefits {
        display: flex;
        flex-wrap: wrap;
    }

    .quality,
    .team,
    .results,
    .pricing,
    .innovation,
    .support {
        width: 45%;
    }

    /* About section*/
    .containerSection {
        display: flex;
        flex-wrap: wrap;
    }

    .item1{
        width: 45%;
    }

    .item2{
        width: 45%;
    }

}


/*Media Query Desktop*/

@media screen and (min-width: 1024px) and (max-width:1920px) {
    body {
        background-color: yellow;
    }

    /* Header section*/

    header .iconaHeader{
        display: none;
    }
    header nav{
        display: flex;
        align-content: flex-end;
    }

    header a{
        color: white;
    }
    /* Demo section*/

    
    .containerDemo{
        display: flex;
        flex-wrap: wrap;
    }
    
    .demo{
        width: 63%;
        padding: 0;
        margin: 0 auto;

    }
    
    .code{
        width: 30%;
    }

    .web,
    .development,
    .branding{
        width: 30%;
    }

    .demo-text{
        display: flex;
        height: 100%;
        
    }
    

   

    /* Testimonials Section*/
    .containerTestimonials{
        width: calc(90% -16px); /*Controllare codice*/
    }

     /* Benefits section*/

     .containerBenefits {
        display: flex;
        flex-wrap: wrap;
    }
    .quality,
    .team,
    .results,
    .pricing,
    .innovation,
    .support {
        width: 30%;
    }


}